body {
    font-family: 'Nunito', sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

header {
    max-width: 840px;
}

main {
	max-width: 840px;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.topnav {
	max-width: 840px;
    font-weight: 700;
    display: block;
    overflow: hidden;
    background-color: #333;
    border-radius: 5px;

}

.topnav active{
	text-align: center;
}
.topnav a:hover {
 align-content: center;
  background-color: black;
  color: white;
	padding: 20px;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 20px;
  text-decoration: none;
  font-size: 17px;
	
}

h1, h2, h3 {
    margin-top: 0;
}

.name {
	font-weight:  700;
 	padding-top: 5px;
}

.bio {
	font-weight: medium;	
}

hr .solid {
	border-top: 2px solid #bbb;
	padding-bottom: 25px;
}

.article {
    margin-bottom: 30px;
}
.title {
    font-size: 24px;
    margin-bottom: 5px;
}
.subtitle {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}


.melissa {
	text-align: left;
	border-radius: 5px;
}

.about {
	padding-top: 10px;
}
p {
    margin-bottom: 10px;
}

  body {
          font-family: 'Nunito', sans-serif;
          margin: 0;
          padding: 0;
          background-color: #f7f7f7;
          color: #333;
          line-height: 1.6;
        }
        header, main {
          padding: 20px;
          max-width: 800px;
          margin: 0 auto;
        }
        h1, h2, h3 {
          margin-top: 0;
        }
        .menu {
          list-style-type: disc;
          padding: 0;
          margin: 0;
        }
        .menu li {
          display: inline;
          margin-right: 10px;
        }
        .menu li a {
          text-decoration: none;
          color: #333;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
