body {
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
  line-height: 1.0em;
}

header {
	font-family: 'Nunito', sans-serif;
	margin: 10px auto;
	max-width: 840px;
	
}

.topnav { 
  font-weight: 700;
  display: flex; 
  overflow: hidden;
  background-color: #333;
  border-radius: 5px;
}

.topnav a {
	position: center;
	background-color: #333;
	color: #f2f2f2;
	padding: 25px 80px 25px 64px;
	text-decoration: none;
	font-size: 17px;

}

.topnav a:hover {
    background-color: #000;
}

.active {
	background-color:#000;
}

main {

	max-width: 840px;
  	margin: 0 auto;
	background-color: #ffffff;
	border-radius: 5px;
	margin-top: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1, h2, h3 {
  margin-top: 0;
}



.name {
	font-size: 20pt;
	font-weight: 700;
	padding-top: 5px;
	text-align: left;
	
}

.bio {
	font-size: 12pt;
	font-weight: normal;
	text-align: left;
}

hr.solid {
	border-top: 1px solid #bbb;
	margin: 23px 20px 23px 10px;
}

.melissa {
	margin: 20px 0px 0px 20px;
 	text-align: left;
  	border-radius: 5px;
  	max-width: 100%;
}

.about {
  margin-top: 10px;
	padding-bottom: 30px;
}

p {
  margin-bottom: 10px;
}

.container {
	padding: 20px;
	margin: 20px auto;
  	max-width: 800px;
  	background-color: #ffffff; 
 	border-radius: 5px; 
  	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.melissa {
	width: 300px;
	height: auto;
	border-radius: 5px;
}

.name-bio {
	margin-left: 20px;
	
}

.about {
	margin-left: 20px;
	margin-right: 15px;
	line-height: 1.2em;
}

  .article {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  .title {
    font-size: 24px;
    margin-bottom: 5px;
	line-height: 1em;
	text-decoration: inherit;
	color: black;
  }
  .subtitle {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
  }

.image-article {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
	margin-bottom: 20px;
  }

.page-title {
padding: 20px;
}

.contact-info {
	padding: 0px 20px 20px 20px;
}