<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto AA MJD</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='./static/style.css'>
   
</head>
<body>
	
    <header>
		
        <div class="topnav">		
            <a class="active" href="./apresentacao.html">Home</a>   
            <a class="active" href="./materias.html">Portfólio</a>
            <a class="active" href="./contato.html">Contato</a>
            <a class="active" href="./atualizacoes.html">Atualizações </a>      
	</div>
</header>
    
<main>
		    
       <div>
		   
         <img class="melissa" src="./static/melissaduarte.jpg" alt="Melissa Duarte" width="250" height="350">
         <div class="name-bio">
           <p class="name">Melissa Duarte</p>
    <p class="bio">Jornalista, 26 anos, Brasília</p>
		</div>
		</div>
		
  <hr class="solid">
        <h3 class="about">Sobre mim:</h3>
        <p>Jornalista especializada em coberturas de saúde e políticas públicas. Atualmente, é repórter do JOTA.</p> 
        <p>Trabalhou nos jornais O Globo, Poder360 e Correio Braziliense e também atuou nas áreas de cultura, gastronomia, política e educação.</p> 
        <p>Cursa o Master em Jornalismo de Dados, Automação e Data Storytelling no Insper e se formou em Jornalismo na Universidade de Brasília (UnB), período em que ganhou o Prêmio Nacional Expocom 2019 na categoria produção de TV.</p>
    </main>
</body>
</html>