<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto AA MJD</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
		<div class="topnav">		
            <a class="active" href="./apresentacao">Home</a>   
            <a class="active" href="./portifolio">Portfólio</a>
            <a class="active" href="./contato">Contato</a>
            <a class="active" href="./atualizacoes">Atualizações </a>
		</div>
		</header>
	
      <div class="container">
        <h2>Agenda do Presidente Lula </h2>
        <ul>
            {% if compromissos %}
                {% for compromisso in compromissos %}
                    <li><strong>{{ compromisso.horario }}</strong>: {{ compromisso.titulo }} - {{ compromisso.local }} 
                        <a href="{{ compromisso.link }}">Adicionar ao Calendário</a>
                    </li>
                {% endfor %}
            {% else %}
                <li>Não há compromissos</li>
            {% endif %}
        </ul>
	</div>
	
     <div class="container">
          <h2>Notícias do Senado</h2>
          <ul>
            {% if noticias_senado %}
                {% for noticia in noticias_senado %}
                    <li>
                        <a href="{{ noticia.link_senado }}">{{ noticia.titulo_senado }}</a>
                    </li>
                {% endfor %}
            {% else %}
                <li>Não há notícias</li>
            {% endif %}
        </ul>
		  </div>
</body>
</html>
