<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Projeto AA MJD</title>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
<link href="../static/css/style.css" rel="stylesheet" type="text/css">


</head>
	<header>
		<div class="topnav">		
            <a class="active" href="./">Home</a>   
            <a class="active" href="./portifolio">Portfólio</a>
            <a class="active" href="./contato">Contato</a>
            <a class="active" href="./atualizacoes">Atualizações </a>
		</div>
		</header>
	
<body> 
  
	
  <main>
<h2 class="page-title">Portfólio</h2>
    <div class="article">
      <img class="image-article" src="../static/vacina-metro3.jpg" alt="Vacina" width="250" height="350">
      <a href="https://www.jota.info/tributos-e-empresas/saude/butantan-e-fiocruz-analisam-capacidade-maxima-de-producao-de-vacina-contra-dengue-21032024" target="_blank">
        <h3 class="title">Butantan e Fiocruz analisam capacidade máxima de produção de vacina contra dengue</h3>
      </a>
      <p class="subtitle">Segundo secretário do Ministério da Saúde, a agenda de inovação, que inclui a produção de vacinas em solo nacional, é ‘prioridade máxima’ da pasta</p>
    </div>
	  
    <div class="article">
      <img class="image-article" src="../static/planalto.webp" alt="Congresso Nacional" width="250" height="350">
      <a href="https://www.jota.info/tributos-e-empresas/saude/comissao-aprova-projeto-sobre-tratamento-de-doencas-neuromusculares-12032024" target="_blank">
        <h3 class="title">Comissão do Senado aprova projeto sobre tratamento de doenças neuromusculares</h3>
      </a>
      <p class="subtitle">Proposta prevê que pacientes devem receber ‘medicamentos e equipamentos essenciais à sobrevivência’ do SUS em casa</p>
    </div>
	  
    <div class="article">
      <img class="image-article" src="../static/dengue.jpg" alt="Mosquito da dengue"  width="250" height="350">
      <a href="https://www.jota.info/tributos-e-empresas/saude/governo-de-sp-decreta-emergencia-em-saude-publica-por-causa-da-dengue-05032024" target="_blank">
        <h3 class="title">Governo de SP decreta emergência em saúde pública por causa da dengue</h3></a>
      <p class="subtitle">A medida veio após o estado alcançar 300 casos por 100 mil habitantes na segunda-feira (4/3)</p>
    </div>
	  
    <div class="article">
      <img class="image-article" src="../static/pezinho.jpg" alt="Exame do pézinho" width="250" height="350">
      <a href="https://www.jota.info/tributos-e-empresas/saude/ministerio-da-saude-estados-e-municipios-lancam-revisao-da-triagem-neonatal-01032024" target="_blank" tabindex="0">
        <h3 class="title">Ministério da Saúde, estados e municípios lançam revisão da triagem neonatal</h3>
      </a>
      <p class="subtitle">Além de revisar a política, os objetivos passam por promover o diagnóstico precoce e a atenção integral na rede pública</p>
	  </div>
